@model VinStageStore.Models.ProductCategory
@{
    ViewBag.Title = "ProductCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="products">
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="categories">
                <h2>DANH MỤC SẢN PHẨM</h2>
                <ul class="cate">
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i>Loại sản phẩm</li>

                    @foreach (var item in Model.ListCategory)
                    {
                        <li>@Html.ActionLink(item.Name, "ProductCategory", "Collection", new { @Id = item.Id }, null)</li>
                    }

                </ul>
            </div>
        </div>







        <div class="col-md-8 products-right">
            <div class="products-right-grid">
                <div class="products-right-grids">
                    <div class="sorting-left">
                        @using (Html.BeginForm("ProductCategory", "Collection", FormMethod.Get))
                        {
                            <p>
                                @Html.TextBox("SearchString", ViewBag.CurrentFiler as string)
                                <input type="submit" value="Tìm kiếm" />
                            </p>
                        }
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

            <div class="agile_top_brands_grids">
                @foreach (var item in Model.ListProduct)
                {
                    <div class="col-md-4 top_brand_left">
                        <div style="margin-bottom:15px" class="hover14 column">
                            <div class="agile_top_brand_left_grid">
                                @if (item.Favourite == true)
                                {
                                    <div class="agile_top_brand_left_grid_pos">
                                        <img src="~/Content/images/hot.png" alt=" " class="img-responsive">
                                    </div>
                                }

                                <div class="agile_top_brand_left_grid1">
                                    <figure>
                                        <div class="snipcart-item block">
                                            <div class="snipcart-thumb">
                                                <a href="@Url.Action("Detail" ,"Product" , new {Id = item.Id})"><img title=" " alt=" " src="~/Content/images/@item.ImageUrl"></a>
                                                <p>@item.Name</p>
                                                @if (item.TypeId == 1)
                                                {
                                                    <h4>@item.PriceSale VND<span>@item.Price VND </span></h4>
                                                }
                                                else
                                                {
                                                    <h4>@item.Price</h4>
                                                }

                                            </div>
                                            <div class="snipcart-details top_brand_home_details">
                                                <form action="#" method="post">
                                                    <fieldset>
                                                        <input type="hidden" name="cmd" value="_cart">
                                                        <input type="hidden" name="add" value="1">
                                                        <input type="hidden" name="business" value=" ">
                                                        <input type="hidden" name="item_name" value="Fortune Sunflower Oil">
                                                        <input type="hidden" name="amount" value="35.99">
                                                        <input type="hidden" name="discount_amount" value="1.00">
                                                        <input type="hidden" name="currency_code" value="USD">
                                                        <input type="hidden" name="return" value=" ">
                                                        <input type="hidden" name="cancel_return" value=" ">
                                                        <input type="submit" name="submit" value="Add to cart" class="button">
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="clearfix"> </div>
            </div>
            <nav class="numbering">
                <ul class="pagination paging">
                    @for (int i = 1; i <= Model.ListProduct.Count / 6; i++)
                    {
                        <li class="@((i == ViewBag.CurrentPage) ? "active" : "")">
                            <a href="@Url.Action("ProductCategory", "Collection", new { page = i })">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="clearfix"> </div>

    </div>
</div>

