@model IEnumerable<VinStageStore.Models.CartModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#removecart").click(function () {
            var model = {};
            //lấy id sản phẩm
            model.Id = $("#productid").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Remove", "Cart")',
                data:  JSON.stringify(model) ,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    $('#CartCount').text(@Session["count"] - 1);
                    $("#product-" + model.Id).remove();
                },
                error: function () {
                    alert("Lỗi trong khi thêm vào giỏ hàng!");
                }
            });
            return false;
        });
    });
</script>

<div class="checkout">
    <div class="container">
        @if (Session["count"] != null)
        {
            <h2>Giỏ hàng của bạn có <span>@Session["count"] sản phẩm</span></h2>
            <div class="checkout-right">
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Hình ảnh</th>
                            <th>Số lượng</th>
                            <th>Tên sản phẩm</th>

                            <th>Giá</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    @if (Model != null)
                    {

                        int sl = 0;
                        foreach (var item in Model)
                        {
                            sl++;
                            <tr class="rem1" id="product-@item.Product.Id">
                                <td class="invert">@sl</td>
                                <td class="invert-image"><a href="single.html"><img src="~/Content/images/@item.Product.ImageUrl" alt=" " class="img-responsive" /></a></td>
                                <td class="invert">
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value"><span>@item.Quantity</span></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="invert">@item.Product.Name</td>

                                <td class="invert">@(item.Product.PriceSale * item.Quantity) </td>
                                <td class="invert">
                                    <input type="hidden" value="@item.Product.Id" id="productid" />
                                    <a href="" class="btn btn-light" id="removecart"> Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                    <!--quantity-->
                    <script>
                        $('.value-plus').on('click', function () {
                            var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) + 1;
                            divUpd.text(newVal);
                        });

                        $('.value-minus').on('click', function () {
                            var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) - 1;
                            if (newVal >= 1) divUpd.text(newVal);
                        });
                    </script>
                    <!--quantity-->
                </table>
            </div>
        }
        else
        {
            <h2>Không có sản phẩm trong giỏ hàng</h2>
        }

        <div class="checkout-left">
            @if (Session["count"] != null)
            {
                <div class="checkout-left-basket">
                    <h4>Mua hàng</h4>
                    <ul>
                        @{
                            decimal total = 0;
                        }

                        @foreach (var item in Model)
                        {
                            decimal itemTotal = (item.Product.PriceSale ?? 0) * item.Quantity;
                            total += itemTotal;
                        }

                        <li>Đơn hàng của bạn hết: <i>-</i> <span>@total.ToString("C") đ</span></li>
                    </ul>
                    <a style="margin-left:90px" href="@Url.Action("Index" , "Payment")">Đặt hàng</a>
                </div>
                <div style=" padding-top: 17px; margin-left: 333px;">
                    <h4>@Html.ActionLink("Xem thông tin nhận hàng", "Index", "User")</h4>

                </div>

            }
            <div class="checkout-right-basket">
                <a href="~/Collection/ProductCategory"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Quay lại mua sắm</a>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>

