@model VinStageStore.Models.Products
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#addtocart").click(function () {
            var model = {};
            //lấy id sản phẩm
            model.Id = @Model.objProductDetail.Id;
            // lấy số lượng đặt hàng
            model.Quantity = $("#ipQuantity").val();
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "Cart")',
                data:  JSON.stringify(model) ,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    alert("Thêm giỏ hàng thành công!")
                    $('#CartCount').text(@Session["count"] + 1);
                },
                error: function () {
                    alert("Lỗi trong khi thêm vào giỏ hàng!");
                }
            });
            return false;
        });
    });
</script>
<!-- //breadcrumbs -->
<div class="products">
    <div class="container">
        <div class="agileinfo_single">

            <div class="col-md-4 agileinfo_single_left">
                <img id="example" src="~/Content/images/@Model.objProductDetail.ImageDetail" alt=" " class="img-responsive">
            </div>
            <div class="col-md-8 agileinfo_single_right">
                <h2>@Model.objProductDetail.Name</h2>
                <div class="w3agile_description">
                    <h4>Giới thiệu :</h4>
                    <p>
                        @Model.objProductDetail.Description
                    </p>
                </div>

                <div class="w3agile_description">
                    <h4>Hãng :</h4>
                    <p>
                        @{
                            string SupplierText = "";
                            if (Model.objProductDetail.SupplierId == 1)
                            {
                                SupplierText = "Vinamilk";
                            }
                            else if (Model.objProductDetail.SupplierId == 2)
                            {
                                SupplierText = "Nestle";
                            }
                            else if (Model.objProductDetail.SupplierId == 3)
                            {
                                SupplierText = "ACE COOK";
                            }
                            else if (Model.objProductDetail.SupplierId == 4)
                            {
                                SupplierText = "Pessi";
                            }
                            else if (Model.objProductDetail.SupplierId == 6)
                            {
                                SupplierText = "tiger";
                            }
                            else if (Model.objProductDetail.SupplierId == 9)
                            {
                                SupplierText = "Neptune";
                            }
                            else if (Model.objProductDetail.SupplierId == 10)
                            {
                                SupplierText = "Vinacodo - Hoa quả sạch";
                            }
                            else if (Model.objProductDetail.SupplierId == 11)
                            {
                                SupplierText = "Chinsu";
                            }

                        }
                        @SupplierText
                    </p>
                </div>
                <div class="snipcart-item block">
                    <div class="snipcart-thumb agileinfo_single_right_snipcart">
                        <h4 class="m-sing">@string.Format("{0:#,0}", Model.objProductDetail.Price) VND</h4>
                    </div>

                    <div style="margin-bottom: 10px">
                        <h5 style="float:left ; margin-right:7px ; margin-top:6px">Số lượng </h5> <input style="width:50px" id="ipQuantity" type="number" name="quantity" min="1" value="1">
                    </div>

                    <div>
                    </div>
                    <div class="snipcart-details agileinfo_single_right_details">

                        <form action="#" method="post">
                            <fieldset>
                                <input type="submit" name="submit" value="Thêm vào giỏ hàng" id="addtocart" class="button">
                            </fieldset>
                        </form>
                    </div>
                    <div class="snipcart-details agileinfo_single_right_details">
                        <a href="@Url.Action("Create" ,"Reviews" , new {Id = Model.objProductDetail.Id })" class="button">Đánh giá sản phẩm</a>
                    </div>
                </div>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!-- new -->
<div class="newproducts-w3agile">
    <div class="container">
        <h3>Sản phẩm liên quan</h3>
        <div class="agile_top_brands_grids">
            @foreach (var item in Model.lstRelatedProducts.Take(4))
            {
                <div class="col-md-3 top_brand_left-1">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            @if (item.Favourite == true)
                            {
                                <div class="agile_top_brand_left_grid_pos">
                                    <img src="~/Content/images/offer.png" alt=" " class="img-responsive">
                                </div>
                            }

                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="@Url.Action("Detail" ,"Product" , new {Id = item.Id})"><img title=" " alt=" " src="~/Content/images/@item.ImageUrl"></a>
                                            <p>@item.Name</p>
                                            <div class="stars">
                                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                <i class="fa fa-star gray-star" aria-hidden="true"></i>
                                            </div>
                                            <h4>@item.PriceSale <span>@item.Price</span></h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart">
                                                    <input type="hidden" name="add" value="1">
                                                    <input type="hidden" name="business" value=" ">
                                                    <input type="hidden" name="item_name" value="Fortune Sunflower Oil">
                                                    <input type="hidden" name="amount" value="35.99">
                                                    <input type="hidden" name="discount_amount" value="1.00">
                                                    <input type="hidden" name="currency_code" value="USD">
                                                    <input type="hidden" name="return" value=" ">
                                                    <input type="hidden" name="cancel_return" value=" ">
                                                    <input type="submit" name="submit" value="Add to cart" class="button">
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
