@model VinStageStore.Context.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="register">
        <div class="container">
            <h2>Đăng kí thành viên</h2>
            <div class="login-form-grids">
                <h5>Thông tin cá nhân</h5>
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", placeholder = "Tên của bạn..." } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                <div style="margin: 1em 0"></div>
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Số điện thoại..." } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                <div style="margin: 1em 0"></div>
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Địa chỉ..." } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                <div class="register-check-box">

                </div>
                <h6>Thông tin đăng nhập</h6>

                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Tên đăng nhập..." } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                <div style="margin: 1em 0"></div>

                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email..." } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                <div style="margin: 1em 0"></div>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Mật khẩu đăng nhập..." } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                <div class="register-check-box">
                    <div class="check">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>I accept the terms and conditions</label>
                    </div>
                </div>
                <input type="submit" value="Đăng kí" class="btn btn-default" />
            </div>
            <div class="register-home">
                @Html.ActionLink("Trang chủ", "Index")
            </div>
        </div>
    </div>
}



