@model VinStageStore.Models.OrderUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section id="main-content">
    <section class="wrapper">
        <!-- //market-->
        <div class="market-updates">
            <div class="col-md-3 market-update-gd">
                <div class="market-update-block clr-block-2">
                    <div class="col-md-4 market-update-right">
                        <i class="fa fa-eye"> </i>
                    </div>
                    <div class="col-md-8 market-update-left">
                        <h4>Đơn hàng đã hủy</h4>
                        <h3>@Model.ListOrder.Where(n => n.Status == 4).Count()</h3>
                        <p>số lượng đơn hàng đã hủy</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-3 market-update-gd">
                <div class="market-update-block clr-block-1">
                    <div class="col-md-4 market-update-right">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="col-md-8 market-update-left">
                        <h4>Người dùng</h4>
                        <h3>@Model.User</h3>
                        <p>Số lượng người dùng</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-3 market-update-gd">
                <div class="market-update-block clr-block-3">
                    <div class="col-md-4 market-update-right">
                        <i class="fa fa-usd"></i>
                    </div>
                    <div class="col-md-8 market-update-left">
                        @*@if (Model != null)
                            {
                                decimal totalRevenue = 0;
                                <h4>Doanh thu</h4>
                                foreach (var item in Model.ListOrder)
                                {
                                    if (item.Status == 3)
                                    {
                                        decimal revenue = item.TotalPrice;
                                        totalRevenue += revenue;
                                    }

                                }
                            }*@
                        @if (Model != null)
                        {
                            decimal totalRevenue = 0;
                            <h4>Doanh thu</h4>
                            foreach (var item in Model.ListOrder)
                            {
                                if (item.Status == 3)
                                {
                                    decimal? revenueNullable = item.TotalPrice;
                                    if (revenueNullable.HasValue)
                                    {
                                        decimal revenue = revenueNullable.Value;
                                        totalRevenue += revenue;
                                    }
                                }
                            }
                            @*<h3>@totalRevenue VND</h3>*@
                            <h3>@string.Format("{0:#,0}", totalRevenue) VND</h3>
                        }

                        <p>Là doanh thu đạt được</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-3 market-update-gd">
                <div class="market-update-block clr-block-4">
                    <div class="col-md-4 market-update-right">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-8 market-update-left">
                        <h4>Đơn hàng chờ xác nhận</h4>
                        <h3>@Model.ListOrder.Where(n => n.Status == 1).Count() </h3>
                        <p>đơn hàng đang chờ bạn xác nhận</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- tasks -->
        <!-- //tasks -->
        <div class="agileits-w3layouts-stats">
            <div class="col-md-4 stats-info widget">
                <div class="stats-info-agileits">
                    <div class="stats-title">
                        <h4 class="title">Browser Stats</h4>
                    </div>
                    <div class="stats-body">
                        <ul class="list-unstyled">
                            <li>
                                GoogleChrome <span class="pull-right">85%</span>
                                <div class="progress progress-striped active progress-right">
                                    <div class="bar green" style="width:85%;"></div>
                                </div>
                            </li>
                            <li>
                                Firefox <span class="pull-right">35%</span>
                                <div class="progress progress-striped active progress-right">
                                    <div class="bar yellow" style="width:35%;"></div>
                                </div>
                            </li>
                            <li>
                                Internet Explorer <span class="pull-right">78%</span>
                                <div class="progress progress-striped active progress-right">
                                    <div class="bar red" style="width:78%;"></div>
                                </div>
                            </li>
                            <li>
                                Safari <span class="pull-right">50%</span>
                                <div class="progress progress-striped active progress-right">
                                    <div class="bar blue" style="width:50%;"></div>
                                </div>
                            </li>
                            <li>
                                Opera <span class="pull-right">80%</span>
                                <div class="progress progress-striped active progress-right">
                                    <div class="bar light-blue" style="width:80%;"></div>
                                </div>
                            </li>
                            <li class="last">
                                Others <span class="pull-right">60%</span>
                                <div class="progress progress-striped active progress-right">
                                    <div class="bar orange" style="width:60%;"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 stats-info stats-last widget-shadow">
                <div class="stats-last-agile">
                    <table class="table stats-table ">
                        <h3>CẦN NHẬP HÀNG</h3>
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Sản phẩm</th>
                                <th>Nhà phân phối</th>
                                <th>Số lượng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ListProduct != null)
                            {
                                int stt = 0;
                                foreach (var item in Model.ListProduct)
                                {
                                    stt++;
                                    <tr>
                                        <th scope="row">@stt</th>
                                        <td>@item.Name</td>
                                        <td>
                                            @{
                                                string SupplierText = "";
                                                if (item.SupplierId == 1)
                                                {
                                                    SupplierText = "Vinamilk";
                                                }
                                                else if (item.SupplierId == 2)
                                                {
                                                    SupplierText = "Nestle";
                                                }
                                                else if (item.SupplierId == 3)
                                                {
                                                    SupplierText = "ACE COOK";
                                                }
                                                else if (item.SupplierId == 4)
                                                {
                                                    SupplierText = "Pessi";
                                                }
                                                else if (item.SupplierId == 6)
                                                {
                                                    SupplierText = "tiger";
                                                }
                                                else if (item.SupplierId == 9)
                                                {
                                                    SupplierText = "Neptune";
                                                }
                                                else if (item.SupplierId == 10)
                                                {
                                                    SupplierText = "Vinacodo - Hoa quả sạch";
                                                }
                                                else if (item.SupplierId == 11)
                                                {
                                                    SupplierText = "Chinsu";
                                                }

                                            }
                                            @SupplierText
                                        </td>
                                        <td>@item.Quantity</td>
                                    </tr>
                                }
                            }


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </section>
    <!-- footer -->
    <div class="footer">
        <div class="wthree-copyright">
            <p>© 2017 Visitors. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
    </div>
    <!-- / footer -->
</section>

